<template>
  <div class="content">
    About FloatList
  </div>
</template>

<script>
export default {
  name: 'about',
};
</script>

<style scoped>
  .content {
    max-width: 1100px;
    max-width: calc(1100px + 1em);
    margin: 50px auto;
    padding: 0 12px;
  }
</style>
