<template>
  <div class="content">
    Contact FloatList

    <form action='https://www.getform.org/f/92375c93-6a16-47ad-bc8a-2cb5ec67651b' method="POST">
      <input type="text" name="name" required>
      <input type="email" name="email" required> 
      <button type="submit">
    </form>
  </div>
</template>

<script>
export default {
  name: 'contact',
};
</script>

<style scoped>
  .content {
    max-width: 1100px;
    max-width: calc(1100px + 1em);
    margin: 50px auto;
    padding: 0 12px;
  }
</style>
