<template>
  <div class="list grid">

    <div id="floatList">

      <div class="search">
        <search :items="items" v-on:userlocation="userLocationInactive"></search>
        <a href="#" class="user-location-link" v-on:click="getUserLocation" v-bind:class="{ active: userLocationActive }">
          <i class="icon-location-arrow" aria-hidden="true"></i>
        </a>
      </div>

      <main class="site-content" role="main" v-on:keyup.esc="closeModal">
        <div class="site-stats">{{ isDataUpdate }}</div>

        <ListPlaceholder v-if="isLoading"></ListPlaceholder>

        <div class="grid">
          <figure class="item effect-apollo" v-for="item in orderedByDistance()" transition="item" track-by="item.id">
            <router-link :to="'/' + item.location.country.toLowerCase().replace(/\s+/g, '-') + '/' + item.name.toLowerCase().replace(/\s+/g, '-')" class="item-link" :data-id="item.id" :data-name="item.name.toLowerCase().replace(/\s+/g, '-')" :data-country="item.location.country.toLowerCase().replace(/\s+/g, '-')" v-on:click.native.prevent="openModal">
              <img v-if="item.image" :src="item.image" />
              <figcaption>
                <span class="item-name">{{item.name}}</span>
                <span class="hidden item-email">{{item.email}}</span>
                <span class="item-distance" v-if="item.distance">📍 {{item.distance}}km</span>
                <span class="item-city" v-if="item.location.city"><span>{{item.location.city}}</span></span>
                <span class="item-country-emoji" v-if="item.location.emoji">{{item.location.emoji}}</span>
              </figcaption>
            </router-link>
          </figure>
          <infinite-loading spinner="spiral" :on-infinite="onInfinite" ref="infiniteLoading">
            <div slot="no-results">
              No results.
            </div>
            <div slot="no-more">
              There is no more to show.<br />
              <small>All {{items.length}} items loaded.</small>
            </div>
            <div slot="spinner">
              <Spinner class="spinneractive infinite-spinner"></Spinner>
            </div>
          </infinite-loading>
        </div>
      </main>

      <div class="modal" v-bind:class="{ modalOpen: isModalActive }" v-on:keyup.esc="closeModal">
        <div class="modal-wrapper">
          <div class="modal-header">
            <router-link to="/" exact class="button close" v-on:click.native.prevent="closeModal">
              <i class="icon-arrow-left" aria-hidden="true"></i>
              <span>back to all items</span>
            </router-link>
            <h2>{{singleItem.name}}</h2>
          </div>
          <div class="modal-content">
            <!-- <div v-if="singleItem.thumb">
              <img class="progressive__img progressive--not-loaded" v-if="singleItem.thumb" :src="singleItem.thumb" :data-progressive="singleItem.image" />
            </div>
            <div v-else>
              <img v-if="singleItem.image_large" :src="singleItem.image_large" />
            </div> -->
            <div v-if="singleItem.image_large">
              <div class="modal-image" :style="{ backgroundImage: 'url(' + singleItem.image_large + ')' }"></div>
            </div>
            <div v-else>
              <div class="modal-image" :style="{ backgroundImage: 'url(' + singleItem.image + ')' }"></div>
            </div>
            <div class="modal-info">
              <div v-if="singleItem.location.adr_address" class="info">
                <div class="info-icon"><i class="icon-map-marker" aria-hidden="true"></i></div>
                <div class="info-label">Address</div>
                <div class="info-content adr_address" v-html="singleItem.location.adr_address"></div>
              </div>

              <div v-if="!singleItem.location.adr_address" class="info">
                <div class="info-icon"><i class="icon-map-marker" aria-hidden="true"></i></div>
                <div class="info-label">Address</div>
                <div class="info-content">
                  <span v-if="singleItem.location.address_name">{{singleItem.location.address_name}} {{singleItem.location.address_number}}<br></span>
                  <span v-if="singleItem.location.postalcode">{{singleItem.location.postalcode}}<br></span>
                  <span v-if="singleItem.location.city">{{singleItem.location.city}}<br></span>
                  <span v-if="singleItem.location.country">{{singleItem.location.country}}<br></span>
                </div>
              </div>

              <div v-if="singleItem.phone" class="info">
                <div class="info-icon"><i class="icon-mobile" aria-hidden="true"></i></div>
                <div class="info-label">Phone</div>
                <div class="info-content"><span>{{singleItem.phone}}</span></div>
              </div>

              <div v-if="singleItem.price_per_hour > 0" class="info">
                <div class="info-icon"><i class="icon-credit" aria-hidden="true"></i></div>
                <div class="info-label">Price / hour</div>
                <div class="info-content">
                    <span v-if="singleItem.price_per_hour.slice(-2) == '00'">
                      {{Math.round(singleItem.price_per_hour, -2)}} {{singleItem.price_currency}} / hour
                    </span>
                    <span v-else>
                      {{singleItem.price_per_hour}} {{singleItem.price_currency}} / hour
                    </span>
                </div>
              </div>

              <div v-if="singleItem.website" class="info">
                <div class="info-icon"><i class="icon-safari" aria-hidden="true"></i></div>
                <div class="info-label">Website</div>
                <div class="info-content">
                  <span><a :href="singleItem.website" target="_blank">{{singleItem.website}}</a></span>
                </div>
              </div>

              <div v-if="singleItem.email" class="info">
                <div class="info-icon"><i class="icon-envelope-o" aria-hidden="true"></i></div>
                <div class="info-label">Email</div>
                <div class="info-content">
                  <span>{{singleItem.email}}<br></span>
                </div>
              </div>

              <div v-if="singleItem.opening_hours" class="info">
                <div class="info-icon"><i class="icon-clock-o" aria-hidden="true"></i></div>
                <div class="info-label">Opening Hours</div>
                <div class="info-content">
                  <span v-if="singleItem.opening_hours.opening_hours_monday">{{singleItem.opening_hours.opening_hours_monday}}<br></span>
                  <span v-if="singleItem.opening_hours.opening_hours_tuesday">{{singleItem.opening_hours.opening_hours_tuesday}}<br></span>
                  <span v-if="singleItem.opening_hours.opening_hours_wednesday">{{singleItem.opening_hours.opening_hours_wednesday}}<br></span>
                  <span v-if="singleItem.opening_hours.opening_hours_thursday">{{singleItem.opening_hours.opening_hours_thursday}}<br></span>
                  <span v-if="singleItem.opening_hours.opening_hours_friday">{{singleItem.opening_hours.opening_hours_friday}}<br></span>
                  <span v-if="singleItem.opening_hours.opening_hours_saturday">{{singleItem.opening_hours.opening_hours_saturday}}<br></span>
                  <span v-if="singleItem.opening_hours.opening_hours_sunday">{{singleItem.opening_hours.opening_hours_sunday}}<br></span>
                </div>
              </div>

              <span class="hidden" v-if="singleItem.location.address_name"><img :src="'https://maps.googleapis.com/maps/api/staticmap?center=' + singleItem.location.address_name + ',' + singleItem.location.address_number + ',' + singleItem.location.postalcode + ',' + singleItem.location.city + '&zoom=13&size=500x200&markers=color:red%7C' + singleItem.location.address_name + ',' + singleItem.location.address_number + ',' + singleItem.location.postalcode + ',' + singleItem.location.city + '&style=feature:road%7Celement:geometry%7Clightness:50%7Cvisibility:simplified&style=feature:road%7Celement:labels%7Cvisibility:off&key=AIzaSyADaVHH2-vDrd5gv_jeVuAO4PICp3DY9cE'" :alt=" singleItem.name "/><br></span>

              <div v-if="singleItem.rating" class="info">
                <div class="info-icon"><i class="icon-star" aria-hidden="true"></i></div>
                <div class="info-label">Rating</div>
                <div class="info-content">
                  <span>{{ singleItem.rating }}<br></span>
                </div>
              </div>

              <div class="actions">
                <a class="typeform-share link" href="https://floatlist.typeform.com/to/pxzDXy" data-mode="1" target="_blank">
                  <i class="icon-flag-o" aria-hidden="true"></i> Report a problem
                </a>
              </div>

              <transition name="slide-fade">
                <div v-if="singleItem.reviews" class="reviews">
                  <h3>Reviews <img class="powered" src="../assets/img/powered_by_google.png"></h3>
                  <div class="info">
                    <div class="review" v-for="item in singleItem.reviews">
                      <div v-if="item.profile_photo_url" class="review-image">
                        <img :src="item.profile_photo_url" :alt="item.author_name" />
                      </div>
                      <div v-else class="review-image">
                        <span class="no-img">
                          <i class="icon-user-circle-o" aria-hidden="true"></i>
                        </span>
                      </div>
                      <div class="review-content">
                        <div class="review-name">
                          {{ item.author_name }}
                          <span class="review-language">{{ item.language }}</span>
                          <span class="review-time">({{ item.time }})</span>
                        </div>
                        <span v-for="n in item.rating">
                          <i class="icon-star" aria-hidden="true"></i>
                        </span>

                        <div>{{ item.text }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </transition>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Vue from 'vue';
import emojiFlags from 'emoji-flags';
import axios from 'axios';
import InfiniteLoading from 'vue-infinite-loading';
import moment from 'moment';
import jQuery from 'jquery';
import Search from 'components/Search';
import Spinner from 'components/Spinner';
import ListPlaceholder from 'components/ListPlaceholder';
import getDistance from './../mixins/getDistance';

Vue.mixin(getDistance);

// const apiURL = '//labs.paulbremer.nl/floatlist/api/api2.php?action=get_list';
const apiURL = 'https://floatlist-1477502495648.firebaseio.com/.json';
const CancelToken = axios.CancelToken;
const call = CancelToken.source();

export default {
  name: 'list',
  mixin: ['getDistance'],
  components: {
    Search,
    Spinner,
    InfiniteLoading,
    ListPlaceholder,
  },
  data() {
    return {
      isModalActive: false,
      isLoading: false,
      isDataUpdate: false,
      loadedItems: 0,
      userLocationActive: false,
      metaDesc: 'Every float centre in the world in one place.',
      metaImage: '',
      singleItem: {
        location: {},
      },
      items: [],
      sortKey: '',
    };
  },
  head: {
    meta: function () {
      return [
        {
          name: 'description',
          content: this.metaDesc,
          id: 'desc',
        },
        {
          property: 'og:image',
          content: this.metaImage,
        },
      ]
    },
  },
  created: function() {
    this.isLoading = true;
    this.isDataUpdate = true;
    this.fetchData();
    this.checkIfSingleItem();
  },
  watch: {
    $route: 'checkIfSingleItem',
  },
  methods: {
    fetchData: function() {
      const self = this;

      // Fetch data from API
      this.$http.get( apiURL + '?action=get_list' ).then( data => data.json() ).then((json) => {
        self.items = json;
        self.isLoading = false;

        // Emoji flags
        for (let i = 0; i < self.items.length; i++) {
          const countrycode = self.items[i].location.countrycode;
          if (countrycode) {
            self.items[i].location.emoji = emojiFlags.countryCode(countrycode).emoji;
            self.items[i].distance = 0;
          }
        }

        // Get single item info (FIX: this could probably be better)
        if (self.$route.path !== '/') {
          const path = self.$route.path.slice(window.location.href.indexOf('?') + 2).split('/');
          const routename = path[1];
          const routecountry = path[0];
          let metaname = routename.replace(/-/g, ' ');
          metaname = metaname.split(' ').map(s => s.charAt(0).toUpperCase() + s.slice(1)).join(' ');
          self.metaDesc = metaname + ' at FloatList. Every float centre in the world in one place.';
          self.$emit('updateHead');
          self.getSingleItem(routename, routecountry);
        }
      });
    },
    checkIfSingleItem: function() {
      console.log('checkIfSingleItem');
      const routecountry = this.$route.params.country;
      const routename = this.$route.params.list_name;
      if ( routecountry && routename ) {
        this.openNewModal(routename, routecountry);
        this.singleItem = {
          name: routename,
          location: {
            country: routecountry,
          },
        }
      }
    },
    getCurrencies: function() {
      oxr.set({ app_id: '7f0d1951d1514758a174706890d45698' })

      fx.base = 'USD';
      fx.rates = {
        'EUR': 0.9256,
        'GBP': 0.79631,
        'USD': 1,
      }

      const amount = fx(10).from('USD').to('EUR').toFixed(2);
      console.log( '10 USD in EUR: ' + amount );

      oxr.latest(function(error) {
        console.log(response);
      //   // const amount = fx(10).from('EUR').to('GBP').toFixed(6);
      //
      //   if ( error ) {
      //     // `error` will contain debug info if something went wrong:
      //     console.log( 'ERROR loading data from Open Exchange Rates API! Error was:' )
      //     console.log( error.toString() );
      //
      //     // Fall back to hard-coded rates if there was an error (see readme)
      //     // return false;
      //   }
      //
      //   // The timestamp (published time) of the rates is in `oxr.timestamp`:
      //   console.log( 'Exchange rates published: ' + (new Date(oxr.timestamp)).toUTCString() );
      //
      //   // Each currency is a property in the object/hash, e.g:
      //   // console.log( 'USD -> AED: ' + oxr.rates.AED );
      //   // console.log( 'USD -> HKD: ' + oxr.rates.HKD );
      //
      //   // To load rates into the money.js (fx) library for easier currency
      //   // conversion, simply apply the rates and base currency like so:
      //   fx.rates = oxr.rates;
      //   fx.base = oxr.base;
      //
      //   // money.js is now initialised with the exchange rates, so this will work:
      //   // console.log( '10 EUR in GBP: ' + amount );
      });
    },
    openNewModal: function(name, country) {
      this.isModalActive = true;
      this.getSingleItem(name, country);
    },
    openModal: function(event) {
      const self = this;
      const el = event.currentTarget;
      const id = el.getAttribute('data-id');
      const name = el.getAttribute('data-name');
      const country = el.getAttribute('data-country');

      this.isModalActive = true;
      this.getSingleItem(name, country);
      // history.pushState({}, null, country + '/' + name);
    },
    closeModal: function(event) {
      const self = this;

      this.isModalActive = false;
      this.singleItem = { location: {} }
      document.title = 'FloatList';
      // Update meta data
      self.metaDesc = 'Every float centre in the world in one place.';
      self.metaImage = '';
      self.$emit('updateHead');
    },
    stopAjaxCall: function() {
      // call.cancel();
    },
    getSingleItem: function(name, country) {
      console.log('getSingleItem', name, country);
      const self = this;

      this.$http.get( apiURL + '?action=get_item&name=' + name )
        .then( data => data.json() ).then((json) => {
          this.singleItem = json[0];
          if (this.singleItem.place_id !== '0') {
            this.getItemReviews(this.singleItem.place_id);
          }
        });

      document.title = this.singleItem.name + ' - FloatList';

      // Update meta data
      self.metaDesc = this.singleItem.name + ' at FloatList. Every float centre in the world in one place.';
      self.metaImage = this.singleItem.image;
      self.$emit('updateHead');
    },
    getItemReviews: function(id) {
      // console.log('getItemReviews: ', id);
      const self = this;
      const key = 'AIzaSyAPxQBM9yMBuRwi1ZeRisz1oPa7tPSN_og';
      const url = 'https://crossorigin.me/https://maps.googleapis.com/maps/api/place/details/json?placeid=' + id + '&key=' + key;
      self.isDataUpdate = true;

      axios.get( url, { cancelToken: call.token } ).then(function (data) {
        if (self.isModalActive) {
          self.isDataUpdate = false;
          self.singleItem.rating = data.data.result.rating;
          self.singleItem.reviews = data.data.result.reviews;
          for (let q = 0; q < self.singleItem.reviews.length; q++) {
            // Format time
            const newTime = moment.unix(self.singleItem.reviews[q].time).fromNow()
            self.singleItem.reviews[q].time = newTime
            // Add emoji flags
            let language = self.singleItem.reviews[q].language;
            if (language) {
              if ( language === 'en' && self.singleItem.location.countrycode === "US") {
                language = 'US'
              } else if ( language === 'en' ) {
                language = 'GB'
              }
              const newLanguage = emojiFlags.countryCode(language).emoji;
              self.singleItem.reviews[q].language = newLanguage
            }
          }
          self.$nextTick(function () {
            self.singleItem.rating = data.data.result.rating;
            self.singleItem.reviews = data.data.result.reviews;
          });
        }
      }).catch(function (thrown) {
        if (axios.isCancel(thrown)) {
          console.log('Request canceled', thrown, thrown.message);
        } else {
          console.log('Error');
        }
      });
    },
    getUserLocation: function() {
      const self = this;
      if (!self.userLocationActive) {
        if (navigator.geolocation) {
          self.userLocationActive = true;
          self.isLoading = true;
          jQuery('#address').val('');
          navigator.geolocation.getCurrentPosition(function(location) {
            self.isLoading = false;
            const searchLat = location.coords.latitude;
            const searchLng = location.coords.longitude;
            let itemDistance = '';
            for (let i = 0; i < self.items.length; i++) {
              const itemLatitude = self.items[i].location.latitude;
              const itemLongitude = self.items[i].location.longitude;
              if (itemLongitude && itemLongitude) {
                itemDistance = getDistance.getDistance( searchLat, searchLng, itemLatitude, itemLongitude, 'K' );
                if (itemDistance === 0) {
                  itemDistance = 1;
                }
                self.items[i].distance = Math.round(itemDistance);
              } else {
                self.items[i].distance = '9999';
              }
            }
          });
        } else {
          console.log('Geolocation is not supported by this browser.');
        }
      }
    },
    sortBy: function(sortKey) {
      // this.reverse = (this.reverse === -1) ? 1 : -1;
      // this.sortKey = sortKey;
    },
    orderedByDistance: function () {
      return _.orderBy(this.items, 'distance');
    },
    userLocationInactive: function () {
      this.userLocationActive = false;
    },
    onInfinite() {
      if ( this.loadedItems < this.items.length ) {
        setTimeout(() => {
          for (let i = this.loadedItems; i <= this.loadedItems + 9; i++) {
            jQuery('main .grid .item:nth-child(' + i + ')').addClass('item-show');
          }
          this.loadedItems = this.loadedItems + 9;
          this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');
        }, 200);
      } else {
        this.$refs.infiniteLoading.$emit('$InfiniteLoading:complete');
      }
    },
  },
  computed: {
    orderedItems: function () {
      // return _.orderBy(this.items, 'location.city');
    },
  },
  beforeMount: function() {
    // console.log('before ready')
  },
  mounted: function() {
    // console.log('ready')
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  body {
    margin: 0;
  }

  .grid {
    max-width: 1100px;
    max-width: calc(1100px + 1em);
    margin: 0 auto;
  }

  .search {
    text-align: center;
  }

  .user-location-link {
    display: inline-block;
    position: relative;
    top: 11px;
    line-height: 40px;
    height: 40px;
    padding: 0 14px;
    margin: 0 10px;
    color: #cfcfcf;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .user-location-link:hover {
    color: #aaa;
  }

  .user-location-link.active {
    color: #05a5e4;
  }

  .site-stats {
    position: absolute;
    color: #fff;
    left: -123em;
  }

  .item {
    display: none;
    position: relative;
    width: calc(90%);
    float: left;
    margin: 0 5% 20px;
    min-height: 200px;
    vertical-align: middle;
    overflow: hidden;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(50,50,93,.1),0 5px 5px rgba(0,0,0,.07);
  }

  .item:nth-child(-n+9) {
    display: inline-block;
  }

  .item-show {
    display: inline-block;
  }

  .loading-wrapper.spinneractive.infinite-spinner {
    height: 60px;
    width: 60px;
  }

  .item-move {
    transition: transform .5s cubic-bezier(.55,0,.1,1);
  }

  .item-link {
    position: relative;
    // background: rgba(255,255,255,0.3);
    height: 250px;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    text-decoration: none;
    z-index: 1;
  }

  .item-name {
    background: #05a5e4;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    border-radius: 0;
    max-width: 100%;
    color: #fff;
    padding: 0 75px 10px 10px;
    font-size: 18px;
    z-index: 1;
  }

  .item-name::before {
    content: '';
    background: #05a5e4;
    display: block;
    width: 110%;
    height: 30px;
    position: absolute;
    left: -4px;
    top: -12px;
    transform: rotate(4deg);
    z-index: -1;
  }

  .item-distance {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 6px 6px;
    color: #fff;
    font-size: 90%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    z-index: 1;
  }

  .item-image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
  }

  .item-city {
    position: absolute;
    right: 0;
    padding: 5px 35px 3px 7px;
    text-align: right;
    background: #05a5e4;
    color: #fff;
    border-bottom-left-radius: 4px;
  }

  .item-city::before {
    content: '';
    background: #05a5e4;
    width: 100%;
    height: 120%;
    display: inline-block;
    position: absolute;
    z-index: 0;
    top: -9px;
    right: 0;
    border-bottom-left-radius: 4px;
  }

  .item-city span {
    position: relative;
    z-index: 1;
  }

  .item-country-emoji {
    position: absolute;
    right: 8px;
    top: 3px;
    min-width: 21px;
  }

  /*-----------------*/
  /***** Apollo *****/
  /*-----------------*/

  .grid figure img {
    position: relative;
    display: block;
    min-height: 88%;
    width: 100%;
    opacity: 0.8;
  }

  .grid figure figcaption {
    color: #fff;
    font-size: 1em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .grid figure figcaption::before,
  .grid figure figcaption::after {
    pointer-events: none;
  }

  .grid figure figcaption,
  .grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  figure.effect-apollo img {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05,1.05,1);
    transform: scale3d(1.05,1.05,1);
  }


  figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(2.5,1.4,1) rotate3d(0,0,1,4deg) translate3d(0,-100%,0);
    transform: scale3d(2.5,1.4,1) rotate3d(0,0,1,4deg) translate3d(0,-100%,0);
  }

  figure.effect-apollo p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    border-right: 4px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }

  figure.effect-apollo h2 {
    text-align: left;
  }

  figure.effect-apollo:hover {
    background: rgba(52, 152, 219, .75);
  }

  figure.effect-apollo:hover img {
    opacity: 0.8;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }

  figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(2.5,1.4,1) rotate3d(0,0,1,4deg) translate3d(0,100%,0);
    transform: scale3d(2.5,1.4,1) rotate3d(0,0,1,4deg) translate3d(0,100%,0);
  }

  figure.effect-apollo:hover p {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    min-height: 100vh;
    height: auto;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    z-index: 9999;
  }

  .modal .close {
    position: relative;
    left: 20px;
    height: 40px;
    margin: 30px 0;
    line-height: 34px;
    min-width: 0px;
    padding: 0 17px;
  }

  .modal .close .fa {
    margin-left: -7px;
  }

  .modal .close span {
    display: none;
  }

  .modal.modalOpen {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }

  .modal-wrapper {
    overflow-y: scroll;
    height: 100%;
  }

  .modal-header {
    position: relative;
    background-color: #05a5e4;
    color: #fff;
    height: 100px;
    line-height: 100px;
    text-align: center;
  }

  .modal-header h2 {
    margin: 0;
    padding: 0 50px;
    line-height: 100px;
    width: calc(100% - 40px);
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .modal-content {
    text-align: left;
    overflow: scroll;
  }

  .modal-image {
    background-color: #f2f2f2;
    background-size: cover;
    background-position: center center;
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }

  .modal-info {
    float: left;
    width: 100%;
    overflow: scroll;
    padding: 20px;
  }

  .info {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }

  .info-icon {
    float: left;
    display: inline-block;
    margin: -4px 0 0 10px;
    min-width: 25px;
    text-align: center;
    font-size: 150%;
  }

  .info-label {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    min-width: 110px;
    font-weight: 500;
  }

  .info-content {
    display: inline-block;
    margin-left: 20px;
  }

  .modal-info img {
    max-width: 100%;
  }

  .actions {
    padding: 10px 0 0;
    margin-bottom: -15px;
    text-align: right;
  }

  .actions a {
    font-size: 13px;
    color: #767676;
    text-decoration: none;
  }

  .slide-fade-enter-active {
    transition: all .4s ease;
  }

  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .slide-fade-enter,
  .slide-fade-leave-active {
    padding-left: 400px;
    opacity: 0;
  }

  .reviews {
    margin-top: 28px;
  }

  .reviews > h3 {
    background-color: #05a5e4;
    width: calc(100% + 40px);
    margin-left: -20px;
    padding: 10px 20px;
    color: #fff;
  }

  .reviews .powered {
    float: right;
    margin-top: 3px;
  }

  .review {
    position: relative;
  }

  .review-image {
    position: relative;
    top: 5px;
    margin: 0 10px;
  }

  .review-image img,
  .review-image .no-img {
    height: 50px;
    width: 50px;
    background-color: #05a5e4;
    background-size: cover;
    background-position: center;
    border-radius: 15%;
    position: absolute;
  }

  .review-image .no-img .icon-user-circle-o {
    display: inline-block;
    color: #fff;
    font-size: 32px;
    margin: 9px;
  }

  .review-content {
    border-bottom: 1px solid #eee;
    margin: 0 0 10px 75px;
    padding: 0 0 10px;
    font-size: 15px;
  }

  .review-content .review-name {
    font-weight: bold;
  }

  .review-content .review-language {
    display: inline-block;
    margin-left: 5px;
  }

  .review-content .review-time {
    position: relative;
    top: -1px;
    display: inline-block;
    margin-left: 10px;
    font-weight: normal;
    font-size: 13px;
  }

  .review-content .icon-star {
    font-size: 20px;
    margin: 5px 2px 5px 0;
    color: #05a5e4;
  }

  @media screen and (min-width: 760px) {
    .modal .close {
      position: absolute;
    }

    .modal .close span {
      display: inline-block;
    }

    .modal-header h2 {
      font-size: 24px;
    }

    .modal-image {
      width: 40%;
      min-height: calc(100vh - 100px);
    }

    .modal-info {
      width: 60%;
      height: calc(100vh - 100px);
    }
  }

  @media screen and (min-width: 560px) {
    .item {
      width: calc(46%);
      margin: 0 2% 20px;
    }
  }

  @media screen and (min-width: 920px) {
    .item {
      width: calc(31.33333%);
      margin: 0 1% 20px;
    }
  }
</style>
