<template>
<div class="grid grid-placeholder">
  <div v-for="n in 30" class="item">
    </span>
  </div>
</template>

<script>
export default {
  name: 'listplaceholder',
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.grid-placeholder .item {
  position: relative;
  width: calc(31.33333% - 2px);
  float: left;
  margin: 0 1% 20px;
  min-height: 250px;
  vertical-align: middle;
  background-color: #f2f2f2;
  border: 1px solid #eee;
  border-radius: 3px;
}

.grid-placeholder .item::before {
  content: '';
  display: inline-block;
  width: 80%;
  height: 30px;
  background: #e8e8e8;
  border-radius: 3px;
  position: absolute;
  bottom: 8px;
  left: 8px;
}

@media screen and (min-width: 560px) {
  .grid-placeholder .item {
    width: calc(46%);
    margin: 0 2% 20px;
  }
}

@media screen and (min-width: 920px) {
  .grid-placeholder .item {
    width: calc(31.33333%);
    margin: 0 1% 20px;
  }
}
</style>
