<template>
  <div class="content">
    <div id="map"></div>
  </div>
</template>

<script>
const image = require('assets/img/marker.png');

const apiURL = 'https://floatlist-1477502495648.firebaseio.com/.json';

let map = '';
let infoWindow = '';
let bounds = '';

// initialize array to hold map markers
const markers = [];

function createMarker(item, index, array) {
  const html = '<a href="#/' + item.location.country.toLowerCase().replace(/\s+/g, '-') + '/' + item.name.toLowerCase().replace(/\s+/g, '-') + '"><b>' + item.name + '</b></a><br /> ' + item.location.city + ', ' + item.location.country;
  const location = { lat: parseFloat( item.location.latitude ), lng: parseFloat( item.location.longitude ) };
  const marker = new google.maps.Marker({
    map: map,
    position: location,
    icon: image,
  });
  google.maps.event.addListener(marker, 'click', function() {
    infoWindow.setContent(html);
    infoWindow.open(map, marker);
  });
  bounds.extend( location );
  markers.push(marker);
}

function initMap( items ) {
  map = new google.maps.Map(document.getElementById('map'), {
    // LatLng object used as center property value
    center: { lat: 24.397, lng: -90.644 },
    zoom: 4,
  });
  // initialize classes
  const geocoder = new google.maps.Geocoder();
  const service = new google.maps.places.PlacesService(map);
  infoWindow = new google.maps.InfoWindow();
  bounds = new google.maps.LatLngBounds();
}

export default {
  name: 'map',
  data() {
    return {
      items: [],
    };
  },
  created: function() {
    this.fetchData();
  },
  methods: {
    fetchData: function() {
      console.log('fetchdata from Map');
      const self = this;

      // Fetch data from API
      this.$http.get( apiURL ).then( data => data.json() ).then((json) => {
        self.items = json;
        self.isLoading = false;

        initMap( self.items );

        for (let i = 0; i < self.items.length; i++) {
          createMarker( self.items[i] );
          map.fitBounds(bounds);
        }

        // Emoji flags
        // for (let i = 0; i < self.items.length; i++) {
        //   const countrycode = self.items[i].location.countrycode;
        //   if (countrycode) {
        //     self.items[i].location.emoji = emojiFlags.countryCode(countrycode).emoji;
        //     self.items[i].distance = 0;
        //   }
        // }
      });
    },
  },
};
</script>

<style scoped>
  .content {
    max-width: 1100px;
    max-width: calc(1100px + 1em);
    margin: 50px auto;
    padding: 0 12px;
  }

  #map {
    width: 100%;
    min-height: 500px;
    height: calc(100vh - 165px);
  }
</style>
