<template>
  <div class="search-wrapper">
    <input v-model="search" type="search" id="address" class="searchinput form-control" placeholder="Enter a city" />
  </div>
</template>

<script>
import Vue from 'vue';
import _ from 'lodash';
import List from './List';
import getDistance from './../mixins/getDistance';

const places = require('places.js');

export default {
  name: 'search',
  props: ['items'],
  data() {
    return {
      search: '',
      counter: 0,
    };
  },
  watch: {
    // whenever search changes, this function will run
    search: function (newSearch) {
      const self = this;
    },
  },
  methods: {
    getDistance: function(search, searchLat, searchLng) {
      const self = this;
      let itemDistance = '';

      console.log('getDistance', search, searchLat, searchLng);
      for (let i = 0; i < self.items.length; i++) {
        const itemLatitude = self.items[i].location.latitude;
        const itemLongitude = self.items[i].location.longitude;
        if (itemLongitude && itemLongitude) {
          itemDistance = getDistance.getDistance( searchLat, searchLng, itemLatitude, itemLongitude, 'K' );
          if (itemDistance === 0) {
            itemDistance = 1;
          }
          self.items[i].distance = Math.round(itemDistance);
          self.items[i].email += ' ';
        } else {
          self.items[i].distance = '9999';
          self.items[i].email += ' ';
        }
      }
      this.userlocation();
      return _.orderBy(this.items, 'distance');
    },
    getPlaces: function() {
      const self = this;

      const placesAutocomplete = places({
        container: document.querySelector('#address'),
        type: 'city',
        templates: {
          value: function(suggestion) {
            return suggestion.name;
          },
          // suggestion: function(suggestion) {
          //   return suggestion.name + ' / ' + suggestion.country;
          // },
        },
      });

      placesAutocomplete.on('change', function(e) {
        console.log( e.suggestion );
        const search = e.suggestion.name;
        const searchLat = e.suggestion.latlng.lat;
        const searchLng = e.suggestion.latlng.lng;
        self.getDistance(search, searchLat, searchLng);
      });

      placesAutocomplete.on('clear', function() {
      });
    },
    userlocation: function () {
      this.$emit('userlocation');
    },
  },
  created: function() {
  },
  mounted: function() {
    const self = this;
    self.getPlaces();
  },
};
</script>

<style scoped>
  .search-wrapper {
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 20px 0 25px;
  }
  input.searchinput {
    padding: 4px 20px 4px 15px;
    width: 350px;
    outline: 0;
    font-size: 14px;
    font-weight: 600;
    -webkit-appearance: none;
  }
  input.searchinput::-webkit-clear-button {
    display: none;
  }
  input.searchinput::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
</style>
