<template>
  <div class="rating">
    <div class="rating">
      {{ isDataUpdate }}
      <h3>Reviews</h3>
      <div v-if="singleItem.rating" class="info">
        <div class="info-icon"><i class="icon-smile-o" aria-hidden="true"></i></div>
        <div class="info-content">
          <span>xxx<br></span>
        </div>
      </div>

      <hr><br>

      <div class="info">
        <div class="info-icon"><i class="icon-clock-o" aria-hidden="true"></i></div>
        <div class="info-content">
          <div v-for="item in singleItem.reviews">
            <div>{{ item.rating }}</div>
            <div>{{ item.author_name }}</div>
            <div>{{ item.profile_photo_url }}</div>
            <div>{{ item.language }}</div>
            <div>{{ item.text }}</div>
            <div>{{ item.time }}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'singlerating',
  props: {
    comment: Object,
    singlerating: Object,
  },
  data() {
    return {
      msg: 'Welcome to Your Vue.js App',
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
