<template>
  <div class="loading-wrapper">
    <div class="loading"></div>
  </div>
</template>

<script>
export default {
  name: 'spinner',
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .loading-wrapper {
    text-align: center;
    max-height: 0;
    transition: max-height 0.4s ease-in;
    overflow: hidden;
  }
  .loading-wrapper.spinneractive {
    max-height: 500px;
  }
</style>
