<template>
  <div id="app">
    <header>
      <div class="wrapper">
        <h1>
          <router-link to="/" exact>
            <img src="./assets/img/floatlist-icon.png" />
            <span class="text">FloatList</span>
          </router-link>
        </h1>

        <nav>
          <router-link to="/" exact>FloatList</router-link>
          <router-link to="/map">Map</router-link>
          <router-link to="/about-floatlist">About FloatList</router-link>
          <router-link to="/contact">Contact</router-link>
        </nav>
      </div>
    </header>

    <keep-alive>
      <router-view></router-view>
    </keep-alive>
  </div>
</template>

<script>
import Vue from 'vue';
import VueRouter from 'vue-router';
import './assets/css/main.css';

Vue.use(VueRouter);

export default {
  name: 'app',
  mounted: function() {
    // console.log('mounted App');
  },
};
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  header {
    background-color: #05a5e4;
    overflow: hidden;
  }

  header .wrapper {
    max-width: 1100px;
    max-width: calc(1100px + 1em);
    margin: 0 auto;
  }

  header .wrapper h1 {
    position: relative;
    margin: 0 0 0 11.156px;
    text-align: left;
    float: left;
  }

  header .wrapper h1 img {
    position: relative;
    margin: -6px 0 0 0;
    float: left;
  }

  header .wrapper h1 .text {
    margin-left: 10px;
  }

  header .wrapper h1 a {
    display: inline-block;
    text-decoration: none;
    line-height: 26px;
    color: #fff;
    animation-name: float;
    animation-duration: 8s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-play-state: paused;
  }

  header .wrapper h1 a:hover {
    animation-play-state: running;
  }

  nav {
    margin: 10px 0;
    text-align: right;
  }

  nav a {
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 10px 0;
    margin: 0 10px;
    line-height: 20px;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
  }

  nav a:after {
    content: '';
    height: 1px;
    width: 0px;
    display: block;
    margin: auto;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease, font-weight 0.5s ease;
  }

  nav a:hover {
  }

  nav a:hover:after {
    width: 100%;
    background: #fff;
  }

  .router-link-active {
  }

  .router-link-active:after {
    width: 100%;
    background: #fff;
  }

  @keyframes float {
    from {
      transform: none;
    }

    15% {
      transform: translate3d(-12%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    30% {
      transform: translate3d(12%, 0, 0) rotate3d(0, 0, 1, -2deg);
    }

    45% {
      transform: translate3d(-12%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    60% {
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    75% {
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, 0deg);
    }

    to {
      transform: none;
    }
  }
</style>
