@font-face {
  font-family: 'floatlist-icons';
  src:  url('../fonts/floatlist-icons/floatlist-icons.eot?ibeumv');
  src:  url('../fonts/floatlist-icons/floatlist-icons.eot?ibeumv#iefix') format('embedded-opentype'),
    url('../fonts/floatlist-icons/floatlist-icons.ttf?ibeumv') format('truetype'),
    url('../fonts/floatlist-icons/floatlist-icons.woff?ibeumv') format('woff'),
    url('../fonts/floatlist-icons/floatlist-icons.svg?ibeumv#floatlist-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'floatlist-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-credit:before {
  content: "\e900";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-check:before {
  content: "\f00c";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-flag:before {
  content: "\f024";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-flag-o:before {
  content: "\f11d";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-safari:before {
  content: "\f267";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
