@import 'icons';

$main-color: #05a5e4;

body {
  margin: 0;
}

a {
  color: #05a5e4;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.hidden {
  display: none;
}

#app {
  position: relative;
}

#floatList {
  overflow: hidden;
}

.site-content::after {
  content: '';
  background: red;
}

.button {
  float: left;
  min-width: 150px;
  display: block;
  margin: 1em;
  padding: 0 2em;
  line-height: 34px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-radius: 40px;
  border: 3px solid #fff;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

  &:hover {
    color: #05a5e4;
  }

  &:hover::before,
  &:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  &:hover::after {
    -webkit-transition-delay: 0.175s;
    transition-delay: 0.175s;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }

  &::before {
    background: #eceff1;
  }

  &::after {
    background: #fff;
  }

  .fa {
    position: absolute;
    top: 9px;
    margin-left: -10px;
  }

  span {
    padding-left: 15px;
  }
}

.adr_address .street-address,
.adr_address .extended-address,
.adr_address .postal-code,
.adr_address .locality,
.adr_address .region,
.adr_address .country-name {
  color: #2c3e50;
  display: block;
  line-height: normal;
}

$base-line-height: 38px;
$spinnercolor: rgb(5, 165, 228);
$off-spinnercolor: rgba(204, 204, 204, 0.6);
$spin-duration: 1.2s;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  margin: 20px auto 40px;
  border-radius: 50%;
  width: $base-line-height;
  height: $base-line-height;
  border: .35rem solid $off-spinnercolor;
  border-top-color: $spinnercolor;
  animation: spin $spin-duration infinite linear;
}
